{% extends 'index.html' %}

{% block contents %}
<div class="demo">

    <div class="container-fluid">
    <div id="top-menu" style="border-style: solid; height: 50px"></div>



    <div class="container">
         <div class = "hero">
                 <h3>안녕하세요 환자와 치과전문의 매칭시스템 입니다. <br>아래 검진 시작하기 버튼을 눌러주세요.</h3>
        <div class="row">
           <button type="button-awesome" class="btn-link" > <a href="test">시작하기</a> <i class="fas fa-stethoscope"></i></button>
         </div>
        </div>
    </div>
    </div>
</div>


{% endblock contents %}