
{% extends 'index.html' %}

{% block contents %}

<html>
<head>

</head>
<body>
<div class="demo">

    <div class="container-fluid">
    <div class="container">
         <div class = "hero">
             <h3> <br>기초정보를 입력해주세요.</h3>

                        </div>
        <div class="row">
            <div id="testimonial-slider" class="owl-carousel">

                <div class ="testimonial">

                            <strong class="description" >
                               <li> 성별을 선택하세요</li>
                                </strong>
                        <p class="description">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline1">남자</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline2">여자</label>
                    </div>
                        </p>
                        <strong class="description" >
                            <li>  연령대를 선택하세요</li>
                        </strong>

                        <p class="description">


                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline3" name="customRadioInline3" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline3">유아 및 청소년</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline4" name="customRadioInline3" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline4">20~40살</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline5" name="customRadioInline3" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline5">40~60살</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline6" name="customRadioInline3" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline6">노인</label>
                            </div>
                        </p>

                    <button type="button-awesome" class="btn btn-primary" id="button1">다음</button>
               </div>
{##}

                <div class ="testimonial">

                    <strong class="description" >
                        <li>   거주지를 선택해주세요</li>
                        </strong>
                        <p class="description">


                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline7" name="customRadioInline7" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline7">강남구</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline8" name="customRadioInline7" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline8">강서구</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline9" name="customRadioInline7" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline9">용산구</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline10" name="customRadioInline7" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline10">은평구</label>
                            </div>
                        </p>
                    <strong class="description" >
                                <li>  증상 선택하세요</li>
                                </strong>
                        <p class="description">


                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline11" name="customRadioInline11" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline11">잇몸이 아프다</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline12" name="customRadioInline11" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline12">어금니가 아프다</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline13" name="customRadioInline11" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline13">이가 시리다</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline14" name="customRadioInline11" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline14">턱이 욱신욱신거린다</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline15" name="customRadioInline11" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline15">입을 벌리기가 힘들다</label>
                    </div>
                        </p>

                    <button type="button-awesome" class="btn btn-primary" id="button2" >다음</button>
               </div>

{##}


                <div class ="testimonial">

                            <strong class="description" >
                                <li>  과거 치과 관련 병력이 있나요?</li>
                                </strong>
                        <p class="description">


                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline16" name="customRadioInline16" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline16">예</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline17" name="customRadioInline16" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline17">아니오</label>
                    </div>
                        </p>

                        <strong class="description" >
                            <li>   있다면 어떤 질병이었나요?</li>
                        </strong>

                        <p class="description">


                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline18" name="customRadioInline18" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline18">잇몸질환</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline19" name="customRadioInline18" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline19">양악</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline20" name="customRadioInline18" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline20">임플란트</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline21" name="customRadioInline18" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline21">충치</label>
                            </div>
                        </p>
                     <button type="button-awesome" class="btn btn-primary">제출</button>
               </div>

        </div>
        </div>
    </div>
</div>
</div>
</body>


</html>

{% endblock contents %}